# .gitignore achieved from https://github.com/github/gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Used in this project
*.toolbox
ZabWithoutQ.tla
ZabWithoutQ.pdf
experiment/
schedule
Zab_oldversion.tla
Zab_oldversion.pdf
doc-in-chinese/picture/pic_double_same_transaction.PNG
doc-in-chinese/picture/pic_recovery.PNG


